<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-faded justify-content-between">

  <a href="#" class="navbar-brand">La Pradera</a>


  <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a href="#" class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/animales" routerLinkActive="active">Animales</a>
      </li>
     <li class="nav-item">
      <a href="#" class="nav-link" routerLink="/gallos" routerLinkActive="active">Entrenamiento Gallos</a>
    </li>
  <li class="nav-item">
    <a href="#" class="nav-link" routerLink="/produccion" routerLinkActive="active">Produccion</a>
  </li>




  </ul>
</nav>
<router-outlet></router-outlet>
